<html>
<head>
    <meta charset="UTF-8"/>

    {% block meta %}
        <title>
            {% block title %}
                {% if pageObject is defined %}
                    {% if pageObject.title %}
                        {{ attribute(pageObject,'title') }}
                    {% endif %}
                {% else %}
                    ADMIN
                {% endif %}
            {% endblock %}
            {{ site_config.separator }}
            {{ site_config.name }}
        </title>
        <meta name="keywords" content="{{ site_config.keywords }}"/>
        <meta name="description" content="{{ site_config.description }}"/>
    {% endblock %}

    {% block basecss %}
        <!-- Latest compiled and minified CSS -->
        {% stylesheets '@bootstrap_css' filter='?yui_css' %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
        {% endstylesheets %}

        <!-- Optional theme -->
        {% stylesheets '@bootstrap_cerulean_css' filter='?yui_css' %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
        {% endstylesheets %}

    {% endblock %}

    {% block css %}
    {% endblock %}

    {% block basejs %}
        <!-- latest jquery -->
        {% javascripts '@jquery_js' '@bootstrap_js' filter='?yui_js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

    {% endblock %}
    {% block headjs %}
    {% endblock %}
</head>

<body>
{% block body %}
{% endblock %}

{% block bodyjs %}
{% endblock %}
{% block analytics %}
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', '{{ site_config.gakey }}', 'auto');
        ga('send', 'pageview');

        {% if site_config is defined %}
            site_config = {{ site_config|serialize('json')|raw }};
        {% endif %}

        {% if pageObject is defined %}
            page_object = {{ pageObject|serialize('json')|raw }};
        {% endif %}

        {% if objects is defined %}
            current_object= {{ objects|serialize('json')|raw }};
        {% endif %}
    </script>
{% endblock %}

</body>
</html>
