{% if vertical %}
    <ul class="nav nav-pills nav-stacked">
        {% if menu %}
            {% for page in menu.pages %}
                <li {% if page.url == pageObject.slug %}class="active"{% endif %}><a
                            href="/{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        {% endif %}
    </ul>
{% else %}
    <nav class="navbar navbar-default">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if menu %}
                    {% for page in menu.pages %}
                        <li {% if page.url == pageObject.slug %}class="active"{% endif %}><a
                                    href="/{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                {% endif %}
                </ul>
            {#<ul class="nav navbar-nav navbar-right">#}
                {#{% if app.user %}#}
                    {#{% if submenu %}#}
                        {#<li class="dropdown" id="submenu">#}
                            {#<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i#}
                                        {#class="fa fa-envelope"></i> {{ submenu.title }} <b#}
                                        {#class="caret"></b></a>#}
                            {#<ul class="dropdown-menu">#}
                                {#{% for page in submenu.pages %}#}
                                    {#{% if page.url == pageObject.slug %}#}
                                    {#{% set active = 'class=active' %}#}
                                    {#<script>#}
                                        {#$(function () {#}
                                            {#$('#submenu').addClass('active');#}
                                        {#});#}
                                    {#</script>#}
                                {#{% else %}#}
                                    {#{% set active = '' %}#}
                                    {#{% endif %}#}
                                    {#<li {{ active }}><a href="/{{ page.url }}">{{ page.title }}</a></li>#}
                                {#{% endfor %}#}
                            {#</ul>#}
                        {#</li>#}
                    {#{% endif %}#}
                {#{% else %}#}
                    {#<li><a href="/logowanie">Logowanie/Rejestracja</a></li>#}
                {#{% endif %}#}
            {#</ul>#}
        </div>
        <!-- /.navbar-collapse -->
    </nav>
{% endif %}