.control-label {
    padding-top: 11px !important;
}

.form-group {
    margin-bottom: 5px;
    font-size: 12px;

}

html {
    padding-bottom: 40px;
}

.delete-button button {
    padding: 1px 12px;
    margin-top: 4px;
}

.btn {
    padding: 7px 23px;
}

.fa-2x {
    font-size: 20px !important;
}

textarea {
    height: 300px !important;
}

.navbar {
    padding-right: 15px;
}

.credits {
    width: 100%;
    height: 20px;
    /*position:absolute;*/
    bottom: 0;
    left: 0;
    text-align: right;
    float: left;
}

.pagination {
    display: block;
}

.action-link {
    padding: 8px;
}

.form-group .col-lg-9 {
    padding-top: 9px;
}

.see-link {
    margin-left: 10px;
}

.float-right {
    float: right;
}

.show-button {
    float: right;
    margin-right: 20px;
}

.show-filter {
    margin-bottom: 10px;
    width: 30%;
}

.show-label {
    padding-left: 0px;
    width: 100%;
    margin-bottom: 10px;
}

body {
    /*padding-top: 65px;*/
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
}

.footable-last-column {
    min-width: 150px;
}

.footable-first-column {
    min-width: 85px;
}

.footable-toggle {
    position: relative;
    bottom: 9px;
}

td a i {
    color: #2fa4e7;
}
