<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
<head>
    <meta charset="UTF-8"/>
    <title>
        {% block title %}
            {% if pageObject is defined %}
                {% if pageObject.title %}
                    {{ attribute(pageObject,'title') }}
                {% endif %}
            {% else %}
                ADMIN
            {% endif %}
        {% endblock %}
        {{ site_config.separator }}
        {{ site_config.name }}
    </title>
    <meta name="keywords" content="{{ site_config.keywords }}"/>
    <meta name="description" content="{{ site_config.description }}"/>


    {% block stylesheets %}

    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}
{% endblock %}
{% block javascripts %}{% endblock %}
{% block javascripts2 %}{% endblock %}
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', '{{ site_config.gakey }}', 'auto');
    ga('send', 'pageview');

    {% if site_config is defined %}
        site_config = {{ site_config|json_encode()|raw }};
    {% endif %}

</script>
</body>
</html>
