{% extends 'ReSymfCmsBundle::index.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/resymfcms/css/bootstrap/' ~ site_config.theme ~ '.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/resymfcms/css/login.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/resymfcms/css/prettyCheckable.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/resymfcms/css/admin.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/resymfcms/css/bootstrap-datetimepicker.css') }}" rel="stylesheet"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ asset('bundles/resymfcms/css/footable.core.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/resymfcms/css/footable.metro.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/resymfcms/css/bootstrap-multiselect.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/resymfcms/css/upload.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/resymfcms/cms/css/lightbox.css') }}" rel="stylesheet"/>

{% endblock %}


{% block body %}
    {{ include('ReSymfCmsBundle:adminmenu:menu.html.twig', { 'menu': menu , 'site_config' : site_config }) }}
    {% block content %}
    {% endblock %}
    {% block credits %}
      
    {% endblock credits %}
{% endblock body %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('bundles/resymfcms/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/resymfcms/js/moment.js') }}"></script>
    <script src="{{ asset('bundles/resymfcms/js/bootstrap-datetimepicker.js') }}"></script>
    <script src=" {{ asset('bundles/resymfcms/js/jquery.filedrop.js') }}" type="text/javascript"></script>
    <script src=" {{ asset('bundles/resymfcms/js/upload.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/resymfcms/cms/js/lightbox.js') }}"></script>
    <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
    <script src="{{ url('bazinga_jstranslation_js') }}"></script>
    <script type="text/javascript">
        $(function () {
            $('table').footable();
        });
        $(function () {
            $('.datepicker').datetimepicker({
                pickTime: true,
                format: 'YYYY-MM-DD hh:mm:ss',
                endDate: ''
            });
        });

    </script>
    <script src=" {{ asset('bundles/resymfcms/js/footable.js') }}" type="text/javascript"></script>
    <script src=" {{ asset('bundles/resymfcms/js/footable.filter.js') }}" type="text/javascript"></script>
    <script src=" {{ asset('bundles/resymfcms/js/footable.paginate.js') }}" type="text/javascript"></script>
    <script src=" {{ asset('bundles/resymfcms/js/footable.sort.js') }}" type="text/javascript"></script>
    <script src=" {{ asset('bundles/resymfcms/js/prettyCheckable.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            var inputList = $('input[type="checkbox"]');
            for (var i = inputList.length - 1; i >= 0; i--) {
                $(inputList[i]).prettyCheckable();
            }
        });
    </script>
    <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: "textarea.tiny",
            plugins: [
                "advlist autolink autosave link image lists charmap print preview hr anchor pagebreak spellchecker",
                "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                "table contextmenu directionality emoticons template textcolor paste fullpage textcolor"
            ],

            toolbar1: "newdocument fullpage | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect",
            toolbar2: "cut copy paste | searchreplace | bullist numlist | outdent indent blockquote | undo redo | link unlink anchor image media code | inserttime preview | forecolor backcolor",
            toolbar3: "table | hr removeformat | subscript superscript | charmap emoticons | print fullscreen | ltr rtl | spellchecker | visualchars visualblocks nonbreaking template pagebreak restoredraft",

            menubar: false,
            toolbar_items_size: 'small',

            style_formats: [
                {title: 'Bold text', inline: 'b'},
                {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
                {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
                {title: 'Example 1', inline: 'span', classes: 'example1'},
                {title: 'Example 2', inline: 'span', classes: 'example2'},
                {title: 'Table styles'},
                {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
            ],

            templates: [
                {title: 'Test template 1', content: 'Test 1'},
                {title: 'Test template 2', content: 'Test 2'}
            ]
        });
    </script>
    <script src=" {{ asset('bundles/resymfcms/js/bootstrap-multiselect.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('.multiselect').multiselect({
                enableCaseInsensitiveFiltering: true,
                buttonWidth: 'auto'
            });
            $('.prettycheckbox > a').click(function(){
                var me = $(this);
                if(me.hasClass('checked')){
                    me.parent().find('input[type="checkbox"]').val(1)
                } else {
                    me.parent().find('input[type="checkbox"]').val(0);
                }
            });

            $('.delete-button').click(function(){
                var ids = [];
                $('.prettycheckbox > a.checked').each(function(){

                    var id = $(this).closest('tr').attr('data-object-id');
                    ids.push(id);
                });
                 var type = 'page';
                 window.location.href = '/app_dev.php/admin/'+type+'/delete/'+ids.join();
            });

        });

        {% if form_config is defined %}
            form_config = {{ form_config|json_encode()|raw }};
        {% endif %}
    </script>
{% endblock %}
