{% if fields %}
    {% for field in fields %}

        {% if edit_object is defined and attribute(edit_object,field.name) is defined %}
            {% set value = attribute(edit_object,field.name) %}
        {% else %}
            {% set value = '' %}
        {% endif %}

        {% if field.readOnly == 1 %}
            {% set disabled = 'disabled="disabled"' %}
        {% else %}
            {% set disabled = '' %}
        {% endif %}

        {% if field.type=='text' %}
            <div class="form-group">
                <label for="" class="col-lg-2 control-label">
                    {% if field.fieldLabel %}
                        {{ field.fieldLabel }}
                    {% else %}
                        {{ field.name }}
                    {% endif %}:</label>

                <div class="col-lg-9">
                    <input type="text" class="form-control" name="{{ field.name }}"
                           value="{{ value }}" {{ disabled }}/>
                </div>
            </div>
            {% elseif field.type=='textarea' %}
                <div class="form-group">
                    <label for="" class="col-lg-2 control-label">
                        {% if field.fieldLabel %}
                            {{ field.fieldLabel }}
                        {% else %}
                            {{ field.name }}
                        {% endif %}:</label>

                    <div class="col-lg-9">
                        <textarea class="form-control" name="{{ field.name }}" {{ disabled }} style="height: 150px !important;">{{ value }}</textarea>
                    </div>
                </div>
            {% elseif field.type=='color' %}
                <div class="form-group">
                    <label for="" class="col-lg-2 control-label">
                        {% if field.fieldLabel %}
                            {{ field.fieldLabel }}
                        {% else %}
                            {{ field.name }}
                        {% endif %}:</label>

                    <div class="col-lg-9">
                        <input type="color" name="{{ field.name }}" style="padding: 0px !important;"
                               value="{{ value }}" {{ disabled }}/>
                    </div>
                </div>
            {% elseif field.type=='number' %}
                <div class="form-group">
                    <label for="" class="col-lg-2 control-label">
                        {% if field.fieldLabel %}
                            {{ field.fieldLabel }}
                        {% else %}
                            {{ field.name }}
                        {% endif %}:</label>

                    <div class="col-lg-9">
                        <input type="number" class="form-control" step="any" name="{{ field.name }}"
                               value="{{ value }}" {{ disabled }}/>
                    </div>
                </div>
            {% elseif field.type=='email' %}
                <div class="form-group">
                    <label for="" class="col-lg-2 control-label">
                        {% if field.fieldLabel %}
                            {{ field.fieldLabel }}
                        {% else %}
                            {{ field.name }}
                        {% endif %}:</label>

                    <div class="col-lg-9">
                        <input type="email" class="form-control" name="{{ field.name }}"
                               value="{{ value }}" {{ disabled }}/>
                    </div>
                </div>
            {% elseif field.type=='tel' %}
                <div class="form-group">
                    <label for="" class="col-lg-2 control-label">
                        {% if field.fieldLabel %}
                            {{ field.fieldLabel }}
                        {% else %}
                            {{ field.name }}
                        {% endif %}:</label>

                    <div class="col-lg-9">
                        <input type="tel" class="form-control" name="{{ field.name }}"
                               value="{{ value }}" {{ disabled }}/>
                    </div>
                </div>
            {% elseif field.type=='url' %}
                <div class="form-group">
                    <label for="" class="col-lg-2 control-label">
                        {% if field.fieldLabel %}
                            {{ field.fieldLabel }}
                        {% else %}
                            {{ field.name }}
                        {% endif %}:</label>

                    <div class="col-lg-9">
                        <input type="url" class="form-control" name="{{ field.name }}"
                               value="{{ value }}" {{ disabled }}/>
                    </div>
                </div>
            {% elseif field.type=='password' %}
                <div class="form-group">
                    <label for="" class="col-lg-2 control-label">
                        {% if field.fieldLabel %}
                            {{ field.fieldLabel }}
                        {% else %}
                            {{ field.name }}
                        {% endif %}:</label>

                    <div class="col-lg-9">
                        <input type="text" class="form-control" name="{{ field.name }}"
                               value="" {{ disabled }}/>
                    </div>
                </div>
            {% elseif field.type=='bool' %}
                <div class="form-group">
                    <label for="" class="col-lg-2 control-label">
                        {% if field.fieldLabel %}
                            {{ field.fieldLabel }}
                        {% else %}
                            {{ field.name }}
                        {% endif %}:</label>

                    <div class="col-lg-9">
                        {% if value==1 %}
                            {% set checked='checked="checked"' %}
                        {% else %}
                            {% set checked='' %}
                        {% endif %}
                        <input type="checkbox" class="form-control" name="{{ field.name }}"
                               value="{{ value }}" {{ disabled }} {{ checked }} />
                    </div>
                </div>
            {% elseif field.type=='date' %}
                <div class="form-group">
                    <label for="" class="col-lg-2 control-label">
                        {% if field.fieldLabel %}
                            {{ field.fieldLabel }}
                        {% else %}
                            {{ field.name }}
                        {% endif %}:</label>

                    <div class="col-lg-9">
                        <input type="text" class="form-control datepicker" name="{{ field.name }}"
                               value="{{ value | date(field.dateFormat) }}" {{ disabled }}/>
                    </div>
                </div>
            {% elseif field.type=='file' %}
                <div class="form-group">
                    <label for="" class="col-lg-2 control-label">
                        {% if field.fieldLabel %}
                            {{ field.fieldLabel }}
                        {% else %}
                            {{ field.name }}
                        {% endif %}:</label>

                    <div class="col-lg-9 files">
                        <input type="hidden" value="{{ field.name }}[]" name="fileFieldName">
                        {% if value %}
                            {% set files = value %}
                            {% for file in files %}
                                <input type="hidden" class="form-control" class="" name="{{ field.name }}[]"
                                       value="{{ file }}"/>
                                <a href="/uploads/{{ form_config.objectKey }}/{{ form_config.objectId }}/{{ file }}"
                                   target="_blank" data-lightbox="gallery"><b>{{ file }}</b></a><br/>
                            {% endfor %}
                        {% else %}
                            {#No files uploaded#}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    {% set uploaded = value | length %}
                    {% set maxfiles =  field.maxFiles - uploaded %}
                    {% if maxfiles > 0 %}
                    <label for="" class="col-lg-2 control-label">
                        {{ 'upload.area'|trans }}:</label>

                    <div class="col-lg-9">
                            <div id="dropbox" data-max-files="{{ field.maxFiles }}">
                                <span class="message">Drop files here to upload.</span>
                            </div>

                    </div>
                    {% endif %}
                </div>
            {% elseif field.type=='editor' %}
                <div class="form-group">
                    <label for="" class="col-lg-2 control-label">
                        {% if field.fieldLabel %}
                            {{ field.fieldLabel }}
                        {% else %}
                            {{ field.name }}
                        {% endif %}:</label>

                    <div class="col-lg-9">
                    <textarea class="form-control tiny" name="{{ field.name }}"
                              value=""  {{ disabled }} > {{ value }}</textarea>
                    </div>
                </div>
            {% elseif field.type == 'relation' %}
                {% if (field.relationType == 'manyToOne') or (field.relationType == 'oneToOne') or (field.relationType == 'multiselect' or (field.relationType == 'manyToMany')) %}
                    <div class="form-group">
                        <label for="" class="col-lg-2 control-label">
                            {% if field.fieldLabel %}
                                {{ field.fieldLabel }}
                            {% else %}
                                {{ field.name }}
                            {% endif %}:</label>

                        <div class="col-lg-9">

                            <select class="multiselect multiselect-search "
                                    data-toggle="dropdown"
                                    {% if  (field.relationType == 'multiselect') or (field.relationType=='manyToMany') %}
                                        multiple="multiple"
                                    {% endif %}
                                    name="{{ field.name }}[]"
                                    {{ disabled }}>
                                {% if multi_select[field.name]['all'] is  defined %}
                                    {% for option in multi_select[field.name]['all'] %}
                                        {% if app.request.get(field.name) == option.id %}
                                            {% set selected='selected="selected"' %}
                                        {% else %}
                                            {% set selected='' %}
                                        {% endif %}
                                        <option value="{{ option.id }}" {{ selected }}>{{ option.name }}</option>
                                    {% endfor %}
                                {% endif %}
                                {% if multi_select[field.name]['selected'] is  defined %}
                                    {% for option in multi_select[field.name]['selected'] %}
                                        <option value="{{ option.id }}" selected="selected">{{ option.name }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>
                {% endif %}
            {% elseif field.type == 'template' %}

                <div class="form-group">
                    <label for="" class="col-lg-2 control-label">
                        {% if field.fieldLabel %}
                            {{ field.fieldLabel }}
                        {% else %}
                            {{ field.name }}
                        {% endif %}:</label>

                    <div class="col-lg-9">

                        <select class="multiselect multiselect-search "
                                data-toggle="dropdown"
                                name="{{ field.name }}[]"
                                {{ disabled }}>
                            {% if multi_select[field.name]['all'] is  defined %}
                                {% for option in multi_select[field.name]['all'] %}
                                    {% if app.request.get(field.name) == option.id %}
                                        {% set selected='selected="selected"' %}
                                    {% else %}
                                        {% set selected='' %}
                                    {% endif %}
                                    <option value="{{ option.id }}" {{ selected }}>{{ option.name }}</option>
                                {% endfor %}
                            {% endif %}
                            {% if multi_select[field.name]['selected'] is  defined %}
                                {% for option in multi_select[field.name]['selected'] %}
                                    <option value="{{ option.id }}" selected="selected">{{ option.name }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>

            {% endif %}
            {% endfor %}
        {% endif %}
