<nav class="navbar navbar-inverse" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('resymf_admin_dashboard') }}"><i
                    class="fa fa-home fa-lg"></i> {{ site_config.name }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            {% for key, element in menu %}
                {% if element.hidden != true %}
                    {% if element.type == 'crud' %}
                        <li class="dropdown{% if key == object_type %} active {% endif %}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                        class="fa fa-{{ element.icon }} "></i> {{ element.menuLabel }} <b
                                        class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% if element.actions %}
                                    {% for action in element.actions if action=='list' %}
                                            {% set path = element.object_prefix ~ '_' ~ action %}
                                        <li class="{% if (path == route) and (key == object_type) %} active {% endif %}">
                                            <a href="{{ path( path, { 'type': key }  ) }}"><i
                                                        class="fa fa-list "></i> {{ 'object.list'|trans }}</a>
                                        </li>
                                    {% endfor %}
                                    {% for action in element.actions if action=='create' %}
                                            {% set path = element.object_prefix ~ '_' ~ action %}
                                        <li class="{% if (path == route) and (key == object_type) %} active {% endif %}">
                                            <a href="{{ path( path, { 'type': key }  ) }}"><i
                                                        class="fa fa-plus-square"></i> {{ 'object.create'|trans }}</a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </li>
                    {% elseif element.type == 'custom' %}
                        <li class="{% if ('resymf_admin_custom_page' == route) and (slug == element.slug) %} active {% endif %}">
                            <a href="{{ path('resymf_admin_custom_page', {'slug': element.slug}) }}"><i
                                        class="fa fa-{{ element.icon }}"></i> {{ element.label }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}


        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown {% if ('profile' == object_type) or (object_type == 'settings') %} active {% endif %}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                            class="fa fa-cog fa-lg"></i>  {{ app.user.username }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    {% if menu.settings is defined %}<li class="{% if object_type == 'settings' %} active {% endif %}"><a href="{{ path('resymf_admin_settings') }}"><i class="fa fa-cogs "></i> {{ 'admin.settings'|trans }}</a></li>{% endif %}
                    <li class="{% if object_type == 'profile' %} active {% endif %}"><a href="{{ path('resymf_admin_profile_show') }}"><i class="fa fa-user "></i> {{ 'admin.profile'|trans }}</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{{ path('user_logout') }}"><i class="fa fa-sign-out "></i> {{ 'admin.logout'|trans }}</a></li>
                </ul>
            </li>
        </ul>

    </div>
    <!-- /.navbar-collapse -->
</nav>
