{% extends 'ReSymfCmsBundle:adminmenu:baseAdmin.html.twig' %}

{% block content %}
    {% if form_config is defined %}
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-8 col-md-8 col-sm-12 ">
            <div class="well">
                <form action="" method="POST" class="bs-example form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <div class="col-lg-2">
                            </div>
                            <div class="col-lg-9">
                                <legend>
                                    {% if edit_object is defined and form_config.showLabel is defined %}
                                        {{ form_config.showLabel }}
                                    {% else %}
                                        Show Object:
                                    {% endif %}
                                    {% if history_count is defined %}
                                        <small style="font-size: 14px;">==>(Wersje: {{ history_count }})<==</small>
                                    {% endif %}
                                </legend>
                            </div>
                        </div>
                        {% include 'ReSymfCmsBundle:adminmenu:showFields.html.twig' with {'fields': form_config.fields } %}

                        {% set id = attribute(edit_object,'id') %}
                        <a class="btn btn-success float-right"
                           href="{{ path('object_edit', {type: form_config.objectKey, 'id': id}) }}">{{ 'object.edit'|trans }}</a>
                    </fieldset>
                </form>
            </div>
            {% if form_config.fields %}
                {% for field in form_config.fields %}
                    {% if (field.relationType == 'manyToMany') or (field.relationType == 'oneToMany') %}
                        {% if multi_select[field.name]['table_config'] is defined %}
                            <div class="col-md-{{ field.customWidth }}">
                                <label for="" class="col-lg-2 control-label show-label"><h3>
                                        {% if field.fieldLabel %}
                                            {{ field.fieldLabel }}
                                        {% else %}
                                            {{ field.name }}
                                        {% endif %}:</h3>
                                </label>
                                {% set path = 'object' ~ '_' ~ 'create' %}
                                {% if  multi_select[field.name]['object_type'] %}
                                    <a href="{{ path( path, { 'type': multi_select[field.name]['object_type'] }  ) }}?{{ form_config.objectKey }}={{ id }}"
                                       class="btn btn-info"
                                       style="float:right; margin-top: -16px;">Dodaj {{ field.fieldLabel }}</a>
                                    <br/><br/>
                                {% endif %}
                                {% include 'ReSymfCmsBundle:adminmenu:table.html.twig' with {'table_config': multi_select[field.name]['table_config'], 'entities': multi_select[field.name]['entities'], 'object_type':  multi_select[field.name]['object_type']} %}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-lg-2 col-md-2"></div>
    {% endif %}
{% endblock %}
