{% if fields %}
    {% for field in fields %}

        {% if edit_object is defined and attribute(edit_object,field.name) is defined %}
            {% set value = attribute(edit_object,field.name) %}
        {% else %}
            {% set value = '' %}
        {% endif %}

        {% set fieldTypes = "bool,number,text,color"|split(',') %}
        {% if field.type in fieldTypes %}
            <div class="form-group">
                <label for="" class="col-lg-2 control-label">
                    {% if field.fieldLabel %}
                        {{ field.fieldLabel }}
                    {% else %}
                        {{ field.name }}
                    {% endif %}
                    :</label>

                <div class="col-lg-9">
                    <span class="" name="{{ field.name }}">{{ value }}</span>
                </div>
            </div>
        {% endif %}
	{% if field.type=='email' %}
            <div class="form-group">
                <label for="" class="col-lg-2 control-label">
                    {% if field.fieldLabel %}
                        {{ field.fieldLabel }}
                    {% else %}
                        {{ field.name }}
                    {% endif %}
                    :</label>

                <div class="col-lg-9">
                	<a href="mailto:{{ value }}">{{ value }}</a>
		</div>
            </div>
        {% endif %}
	{% if field.type=='tel' %}
            <div class="form-group">
                <label for="" class="col-lg-2 control-label">
                    {% if field.fieldLabel %}
                        {{ field.fieldLabel }}
                    {% else %}
                        {{ field.name }}
                    {% endif %}
                    :</label>

                <div class="col-lg-9">
                	<a href="tel:{{ value }}">{{ value }}</a>
		</div>
            </div>
        {% endif %}
	{% if field.type=='url' %}
            <div class="form-group">
                <label for="" class="col-lg-2 control-label">
                    {% if field.fieldLabel %}
                        {{ field.fieldLabel }}
                    {% else %}
                        {{ field.name }}
                    {% endif %}
                    :</label>

                <div class="col-lg-9">
                	<a href="{{ value }}">{{ value }}</a>
		</div>
            </div>
        {% endif %}

        {% if field.type=='editor' %}
            <div class="form-group">
                <label for="" class="col-lg-2 control-label">
                    {% if field.fieldLabel %}
                        {{ field.fieldLabel }}
                    {% else %}
                        {{ field.name }}
                    {% endif %}
                    :</label>

                <div class="col-lg-9">
                    <span class="" name="{{ field.name }}"
                          value=""> {{ value | raw }}</span>
                </div>
            </div>
        {% endif %}
        {% if field.type=='file' %}
            <div class="form-group">
                <label for="" class="col-lg-2 control-label">
                    {% if field.fieldLabel %}
                        {{ field.fieldLabel }}
                    {% else %}
                        {{ field.name }}
                    {% endif %}
                    :</label>

                <div class="col-lg-9 files">
                    <input type="hidden" value="{{ field.name }}[]" name="fileFieldName">
                    {% if value %}
                        {% set files = value  %}
                        {% for file in files %}
                            <input type="hidden" class="form-control" class="" name="{{ field.name }}[]"
                                   value="{{ file }}"/>
                            <a href="/uploads/{{ form_config.objectKey }}/{{ form_config.objectId }}/{{ file }}" target="_blank" ><b>{{ file }}</b></a><br/>
                        {% endfor %}
                    {% else %}
                        {#No files uploaded#}
                    {% endif %}
                </div>
            </div>
   
        {% endif %}
        {% if field.type == 'relation' %}
            {% if (field.relationType == 'manyToOne')  or (field.relationType == 'oneToOne') or (field.relationType == 'multiselect') %}
                <div class="form-group">
                    <label for="" class="col-lg-2 control-label">
                        {% if field.fieldLabel %}
                            {{ field.fieldLabel }}
                        {% else %}
                            {{ field.name }}
                        {% endif %}
                        :</label>

                    <div class="col-lg-9">
                        {% if multi_select[field.name]['selected'] is  defined %}
                            {% for type, option in multi_select[field.name]['selected'] %}
                                <span data-id="{{ option.id }}">{{ option.name }}</span>
                                {% if field.withoutLink == false %}
                                {% if option.targetEntityField is defined %}
                                <a class="see-link" href="{{ path('object_show', {'type' : option.targetEntityField, 'id' : option.id}) }}">{{ object.go|trans }}--></a><br/>
                                    {% else %}
                                        <a class="see-link" href="{{ path('object_show', {'type' : type, 'id' : option.id}) }}">{{ 'object.go'|trans }}--></a><br/>
                                    {% endif %}
                                    {% endif %}
                                <br/>
                            {% endfor %}
                        {% endif %}
                        </select>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
