{% if table_config is defined %}
    <br/><input type="text" id="filter" class="form-control show-filter filter-{{ object_type }}"
                placeholder="Search"/>
    <table class="footable metro-blue"
           data-page-size="{% if table_config.pageSize %}{{ table_config.pageSize }} {% endif %}"
           data-filter=.filter-{{ object_type }}>
        <thead class="">
        <tr>
            {% if table_config.fields %}
                <th class="fooEditable" data-sort-ignore="true" data-hide="phone" data-ft-control="checkbox"></th>
                {% for field in table_config.fields %}
                    <th {% if field.hideOnDevice is defined %} data-hide={{ field.hideOnDevice }}{% endif %}>
                        {% if field.label is defined %}
                            {{ field.label }}
                        {% else %}
                            {{ field.name }}
                        {% endif %}
                    </th>
                {% endfor %}
                <th data-sort-ignore="true"></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% if entities %}
            {% for entity in entities %}
                <tr data-object-id="{{ entity.id }}">
                    <td>
                        <input type="checkbox" value="check" name="check" class="prettyCheckbox"/>
                    </td>
                    {% if table_config.fields %}

                        {% for field in table_config.fields %}
                            <td>
                                {% if field.relation is defined and field.relation == true and field.format  == 'text' %}
                                    {{ attribute(attribute(entity,field.name), 'name') }}
                                {% elseif field.format is not defined or field.format  == 'text' %}
                                    {{ attribute(entity,field.name) }}
                                {% elseif field.format == 'html' %}
                                    {{ attribute(entity,field.name) | striptags }}
                                {% elseif field.format == 'date' %}
                                    {{ attribute(entity,field.name) | date(field.dateFormat) }}
                                {% elseif field.format == 'email' %}
                                    <a href="mailto:{{ attribute(entity,field.name) }}">{{ attribute(entity,field.name) }}</a>
                                {% elseif field.format == 'tel' %}
                                    <a href="tel:{{ attribute(entity,field.name) }}">{{ attribute(entity,field.name) }}</a>
                                {% elseif field.format == 'url' %}
                                    <a href="{{ attribute(entity,field.name) }}"
                                       target="_blank">{{ attribute(entity,field.name) }}</a>
                                {% elseif field.format == 'file' %}
                                    {% if attribute(entity,field.name) %}
                                        {% set files = attribute(entity,field.name) %}
                                        {% for file in files %}
                                            <a href="/uploads/{{ object_type }}/{{ attribute(entity,'id') }}/{{ file }}"
                                               target="_blank"><b>{{ file }}</b></a><br/>
                                        {% endfor %}
                                    {% else %}
                                        {#No files uploaded#}
                                    {% endif %}
                                {% else %}
                                    'Not set'
                                {% endif %}
                            </td>
                        {% endfor %}
                        <td>
                            {# TODO: check actions and roles #}
                            <a href="{{ path('object_show', {'type' : object_type, 'id' : entity.id }) }}"
                               class="action-link"><i class="fa fa-arrow-circle-right fa-2x"></i></a>
                            <a href="{{ path('object_edit', {'type' : object_type, 'id' : entity.id }) }}"
                               class="action-link"><i class="fa fa-edit fa-2x"></i></a>
                            <a href="{{ path('object_delete', {'type' : object_type, 'id' : entity.id }) }}"
                               class="action-link"><i class="fa fa-trash-o fa-2x"></i></a>
                        </td>


                    {% endif %}

                    {#<td>Traffic Court Referee</td>#}
                    {#<td data-value="78025368997">22 Jun 1972</td>#}
                    {#<td data-value="1"><span class="status-metro status-active" title="Active">Active</span></td>#}
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="{{ table_config.fields|length +2 }}">
                <div class="left-table-footer delete-button" style="float:left;">
                    <button class="btn btn-danger btn-xs">{{ 'object.delete'|trans }}</button>
                </div>
                <div class="{% if table_config.paging %} pagination {% endif %} pagination-centered"></div>
            </td>
        </tr>
        </tfoot>
    </table>
{% endif %}
